<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-2">
          <i class="fab fa-facebook-f "> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-2">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-2">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-md btn-li mx-2">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-2">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->
  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" >
      <p align="center">Contáctanos estamos especializados en hacerte vivir las mejores experiencias del tenis profesional,<br>
          las cuales te haran conocer el verdadero deporte blanco del mundo. <br>
          © 2018 Copyright:
          <a href="">Angular Tenis Club</a>.
      </p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->