<br>
<div class="container-fluid">
    <div class="row" alingment="center"> 
         <div class="col-8">
            <div class="container">
                <div class="container">
                  <div class="row blog">
                    <div class="col-md-12">
                      <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="row">
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Abril 25</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="../../assets/noticia1.JPG"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>Andreescu y Thiem, campeones de Indian Wells</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Bianca Andreescu ganó la final femenina a Angelique Kerber (6-4, 3-6, 6-4). </p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Leer más</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Abril 25</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="../../assets/noticia2.JPG"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>Djokovic, ganador del Open de Australia 2019</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Novak Djokovic ha ganado la final a Rafael Nadal por 6-3, 6-2 y 6-3. Ha logrado su 15º Grand Slam y es el único tenista que ha ganado el Abierto de Australia en siete ocasiones.</p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Leer más</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Abril 25</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="../../assets/noticia3.JPG"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>Djokovic supera a Nadal y gana el Open de Australia</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Novak Djokovic ha ganado la final a Rafael Nadal en tres sets por 6-3, 6-2 y 6-3.</p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Leer más</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--.row-->
                          </div>
                          <!--.item-->
                          <div class="carousel-item ">
                            <div class="row">
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Abril 25</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="../../assets/noticia4.JPG"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>Osaka vence a Kvitova y gana el Open de Australia</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Naomi Osaka ha conquistado el Abierto de Australia venciendo a Kvitova.</p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Leer más</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Abril 25</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="../../assets/noticia5.JPG"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>Naomi Osaka, gana el Abierto de Australia</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Gracias a esta victoria, la nipona será número uno del mundo a partir del lunes.</p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Leer más</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Abril 25</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="../../assets/noticia6.JPG"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>Djokovic enfrentara a Nadal en la gran final</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Ambos llegan en un gran momento de forma a la final del abierto australiano.</p>
                                    </div>
                                     <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Leer más</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--.row-->
                          </div>
                          <!--.item-->
                        </div>
                        <!--.carousel-inner-->
                      </div>
                      <!--.Carousel-->
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-4" alignment="center">  
          <br> 
            <div class="container">
                <h2 align="center">Encuentros Proximos</h2>                                                                                      
                <div class="table-responsive">          
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Competidor</th>
                      <th></th>
                      <th>Competidor</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img width="25px" height="20px" src="../../assets/suiza.JPG" alt=""></td>
                      <td>Roger Federer</td>
                      <td>VS</td>
                      <td>Novak Djokovic</td>
                      <td><img width="25px" height="20px" src="../../assets/djo.JPG" alt=""></td>
                    </tr>
                    <tr>
                        <td><img width="25px" height="20px" src="../../assets/pais3.JPG" alt=""></td>
                        <td>Dominic Thiem</td>
                        <td>VS</td>
                        <td>Alexander Zverev</td>
                        <td><img width="25px" height="20px" src="../../assets/alemania.JPG" alt=""></td>
                    </tr>
                    <tr>
                        <td><img width="25px" height="20px" src="../../assets/japon.JPG" alt=""></td>
                        <td>Kei Nishikori</td>
                        <td>VS</td>
                        <td>Taylor Fritz</td>
                        <td><img width="25px" height="20px" src="../../assets/eu.JPG" alt=""></td>
                    </tr>
                    <tr>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
        </div> 
    </div>
 </div>
<!---->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white bg-dark">
  <br><br><br><br><br>
</nav>
