<br>
<div class="container-fluid">
    <div class="row" alingment="center"> 
         <div class="col-8">
            <div class="container">
                <div class="container">
                  <div class="row blog">
                    <div class="col-md-12">
                      <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="row">
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="../../assets/alexander.JPG"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>News Title</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="../../assets/az.jpg"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>News Title</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>News Title</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--.row-->
                          </div>
                          <!--.item-->
                          <div class="carousel-item ">
                            <div class="row">
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>News Title</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>News Title</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4" >
                                <div class="item-box-blog">
                                  <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                  </div>
                                  <div class="item-box-blog-body">
                                    <!--Heading-->
                                    <div class="item-box-blog-heading">
                                      <a href="#" tabindex="0">
                                        <h5>News Title</h5>
                                      </a>
                                    </div>
                                    <!--Data-->
                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                      <p><i class="fa fa-user-o"></i> Admin, <i class="fa fa-comments-o"></i> Comments(3)</p>
                                    </div>
                                    <!--Text-->
                                    <div class="item-box-blog-text">
                                      <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                    </div>
                                     <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                    <!--Read More Button-->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--.row-->
                          </div>
                          <!--.item-->
                        </div>
                        <!--.carousel-inner-->
                      </div>
                      <!--.Carousel-->
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-4" alignment="center">  
          <br> 
            <div class="container">
                <h2 align="center">Encuentros Proximos</h2>                                                                                      
                <div class="table-responsive">          
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Competidor</th>
                      <th></th>
                      <th>Competidor</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img width="25px" height="20px" src="../../assets/suiza.JPG" alt=""></td>
                      <td>Roger Federer</td>
                      <td>VS</td>
                      <td>Novak Djokovic</td>
                      <td><img width="25px" height="20px" src="../../assets/djo.JPG" alt=""></td>
                    </tr>
                    <tr>
                        <td><img width="25px" height="20px" src="../../assets/pais3.JPG" alt=""></td>
                        <td>Dominic Thiem</td>
                        <td>VS</td>
                        <td>Alexander Zverev</td>
                        <td><img width="25px" height="20px" src="../../assets/alemania.JPG" alt=""></td>
                    </tr>
                    <tr>
                        <td><img width="25px" height="20px" src="../../assets/japon.JPG" alt=""></td>
                        <td>Kei Nishikori</td>
                        <td>VS</td>
                        <td>Taylor Fritz</td>
                        <td><img width="25px" height="20px" src="../../assets/eu.JPG" alt=""></td>
                    </tr>
                    <tr>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
        </div> 
    </div>
 </div>
<!---->

