Y este?
<div *ngFor="let torneo of torneos">
  {{torneo.nombreTorneo}}
</div>


<div *ngFor="let jugador of jugadores">
    <ul> 
      <li>
         
      </li>
    </ul>
    jugadores
    Y es que onda: {{jugador.nombre}}
      
  </div>





<p>Drag the p element back and forth between the two rectangles:</p>

<div class="droptarget" (drop)="drop($event)" (dragover)="allowDrop($event)">


  <p (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" id="dragtarget"> Drag me!</p>
  
</div>

<div class="droptarget" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

<p style="clear:both;"><strong>Note:</strong> drag events are not supported in Internet Explorer 8 and earlier versions or Safari 5.1 and earlier versions.</p>

<p id="demo"></p>