<app-userbar></app-userbar>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>

  <title>March Madness Stock Matchup</title>
</head>

<body>

  <section id="bracket">
  <div class="container">

  <div class="split split-one">
      <div class="round round-one current">
          <div class="round-details">Primer ronda<br/><span class="date">March 16</span></div>
          <ul class="matchup">
              <li id="1" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-top">{{listaAux[0].nombreJugador1}}</li>
              <li id="2" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-bottom">{{listaAux[0].nombreJugador2}}</li>
          </ul>
          <br><br><br><br>
          <ul class="matchup">
              <li id="3" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-top">{{listaAux[1].nombreJugador1}}</li>
              <li id="4" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-bottom">{{listaAux[1].nombreJugador2}}</li>
          </ul>
          <br><br><br><br>
          <ul class="matchup">
              <li id="5" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-top">{{listaAux[2].nombreJugador1}}</li>
              <li id="6" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-bottom">{{listaAux[2].nombreJugador2}}</li>
          </ul>
          <br><br><br><br>
          <ul class="matchup">
              <li id="7" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-top">{{listaAux[3].nombreJugador1}}</li>
              <li id="8" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-bottom">{{listaAux[3].nombreJugador2}}</li>
          </ul>           
                              
      </div>  <!-- END ROUND ONE -->

      <div class="round round-two">      
          <ul class="matchup">
                      <div class="round-details">Segunda ronda<br/><span class="date">March 18</span></div>   
              <li id="R1E1" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li id="R1E2" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
          </ul>   
          <br><br><br><br>
          <ul class="matchup">
              <li id="R2E3" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li id="R2E4" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
          </ul>   
                                             
      </div>  <!-- END ROUND TWO -->
      
      <div class="round round-three" >      
          <ul class="matchup"  > 
              <div class="round-details" >Tercera ronda<br/><span class="date">March 22</span></div>  
              <li id="R3E1" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li id="R3E2" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
          </ul>   
                                                
      </div>  <!-- END ROUND THREE -->        
  </div> 

<div class="champion">
      <div class="semis-l">
          <i class="fa fa-trophy"></i>
          <div class="round-details">Finales <br/><span class="date">March 26-28</span></div>     
          <ul class ="matchup championship">
              <li id="RF1" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
              <li id="RF2" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
          </ul>
      </div>
      
  </div>


  <div class="split split-two">


      <div class="round round-three">
                
          <ul class="matchup">
              <div class="round-details">Tercera ronda<br/><span class="date">March 22</span></div>     
              <li id="R3E3" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li id="R3E4" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
          </ul>                                       
      </div>  <!-- END ROUND THREE -->    

      <div class="round round-two">                     
          <ul class="matchup">
              <div class="round-details">Segunda ronda<br/><span class="date">March 18</span></div>
              <li id="R2E5" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li id="R2E6" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
          </ul>   
          <br><br><br><br>
          <ul class="matchup">
              <li id="R2E7" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li id="R2E8" (drop)="drop($event)" (dragover)="allowDrop($event)" class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
          </ul>                                       
      </div>  <!-- END ROUND TWO -->
      <div class="round round-one current">
          <div class="round-details">Primer ronda<br/><span class="date">March 16</span></div>
          <ul class="matchup">
              <li id="R1E9" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-top">{{listaAux[4].nombreJugador1}}</li>
              <li id="R1E10" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-bottom">{{listaAux[4].nombreJugador2}}</li>
          </ul>
          <br><br><br><br>
          <ul class="matchup">
              <li id="R1E11" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-top">{{listaAux[5].nombreJugador1}}</li>
              <li id="R1E12" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-bottom">{{listaAux[5].nombreJugador2}}</li>
          </ul>
          <br><br><br><br>
          <ul class="matchup">
              <li id="R1E13" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-top">{{listaAux[6].nombreJugador1}}</li>
              <li id="R1E14" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-bottom">{{listaAux[6].nombreJugador2}}</li>
          </ul>
          <br><br><br><br>
          <ul class="matchup">
              <li id="R1E15" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-top">{{listaAux[7].nombreJugador1}}</li>
              <li id="R1E16" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" class="team team-bottom">{{listaAux[7].nombreJugador2}}</li>
          </ul>           
                                      
      </div>  <!-- END ROUND ONE -->                          
  </div>

  </div>
 </section>
 </body>
<!--Otra cosa-->
<app-footer></app-footer>
