<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-dark">

    <div class="container">
      <a class="navbar-brand" href="./"><b>Tennis</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" alignment="center">
        
        <ul class="navbar-nav mr-auto">
        
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio 
            <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Resultados</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#">Torneos</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/ranking">Ranking</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        
        </ul>
  
        <a class="btn btn-outline-success d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#">Ingresar</a>
        <a class="btn btn-outline-info d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#">Ayuda</a>
      
      </div>
    
    </div>
    
    </nav>
    <br>
  <!---->