<div class="container">
  <div [hidden]="submitted">
    <br><br>
    <h4>Datos de las competencias</h4>
    <form (ngSubmit)="onSubmit()" #CompetenciaForm="ngForm">
      <div class="row">
        <div class="col">

          <div class="form-group">
            <label for="cupo">Cupo</label>
            <input type="number" class="form-control" id="cupo">
          </div>

          <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="form-control" id="categoria" [(ngModel)]="model.categoria" name="categoria">
              <option *ngFor="let cate of categorias" [value]="cate">{{cate}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="costo">Costo de inscripción</label>
            <input type="text" class="form-control" id="costo" required [(ngModel)]="model.costo" name="costo"
              #costo="ngModel">
            <div [hidden]="costo.valid || costo.pristine" class="alert alert-danger">Campo obligatorio</div>
          </div>

        </div>
        <div class="col">

          <div class="form-group">
            <label for="primero">Primer lugar</label>
            <input type="text" class="form-control" id="primero" required [(ngModel)]="model.primero" name="primero"
              #primero="ngModel">
            <div [hidden]="primero.valid || primero.pristine" class="alert alert-danger">Campo obligatorio</div>
          </div>

          <div class="form-group">
            <label for="segundo">Segundo lugar</label>
            <input type="text" class="form-control" id="segundo" required [(ngModel)]="model.segundo" name="segundo"
              #segundo="ngModel">
            <div [hidden]="segundo.valid || segundo.pristine" class="alert alert-danger">Campo obligatorio</div>
          </div>

          <div class="form-group">
            <label for="tercero">Tercer lugar</label>
            <input type="text" class="form-control" id="tercero" required [(ngModel)]="model.tercero" name="tercero"
              #tercero="ngModel">
            <div [hidden]="tercero.valid || tercero.pristine" class="alert alert-danger">Campo obligatorio</div>
          </div>
        </div>
      </div>
    </form>

    <form (ngSubmit)="onSubmit()" #torneoForm="ngForm">
        <div class="row">
            <div class="col">
    
              <div class="form-group">
                <label for="cupo">Cupo</label>
                <input type="number" class="form-control" id="cupo">
              </div>
    
              <div class="form-group">
                <label for="categoria">Categoría</label>
                <select class="form-control" id="categoria" [(ngModel)]="model.categoria" name="categoria">
                  <option *ngFor="let cate of categorias" [value]="cate">{{cate}}</option>
                </select>
              </div>
    
              <div class="form-group">
                <label for="costo">Costo de inscripción</label>
                <input type="text" class="form-control" id="costo" required [(ngModel)]="model.costo" name="costo"
                  #costo="ngModel">
                <div [hidden]="costo.valid || costo.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
            </div>
            <div class="col">
    
              <div class="form-group">
                <label for="primero">Primer lugar</label>
                <input type="text" class="form-control" id="primero" required [(ngModel)]="model.primero" name="primero"
                  #primero="ngModel">
                <div [hidden]="primero.valid || primero.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
              <div class="form-group">
                <label for="segundo">Segundo lugar</label>
                <input type="text" class="form-control" id="segundo" required [(ngModel)]="model.segundo" name="segundo"
                  #segundo="ngModel">
                <div [hidden]="segundo.valid || segundo.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
              <div class="form-group">
                <label for="tercero">Tercer lugar</label>
                <input type="text" class="form-control" id="tercero" required [(ngModel)]="model.tercero" name="tercero"
                  #tercero="ngModel">
                <div [hidden]="tercero.valid || tercero.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
            </div>
          </div>
    </form>

    <form (ngSubmit)="onSubmit()" #torneoForm="ngForm">
        <div class="row">
            <div class="col">
    
              <div class="form-group">
                <label for="cupo">Cupo</label>
                <input type="number" class="form-control" id="cupo">
              </div>
    
              <div class="form-group">
                <label for="categoria">Categoría</label>
                <select class="form-control" id="categoria" [(ngModel)]="model.categoria" name="categoria">
                  <option *ngFor="let cate of categorias" [value]="cate">{{cate}}</option>
                </select>
              </div>
    
              <div class="form-group">
                <label for="costo">Costo de inscripción</label>
                <input type="text" class="form-control" id="costo" required [(ngModel)]="model.costo" name="costo"
                  #costo="ngModel">
                <div [hidden]="costo.valid || costo.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
            </div>
            <div class="col">
    
              <div class="form-group">
                <label for="primero">Primer lugar</label>
                <input type="text" class="form-control" id="primero" required [(ngModel)]="model.primero" name="primero"
                  #primero="ngModel">
                <div [hidden]="primero.valid || primero.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
              <div class="form-group">
                <label for="segundo">Segundo lugar</label>
                <input type="text" class="form-control" id="segundo" required [(ngModel)]="model.segundo" name="segundo"
                  #segundo="ngModel">
                <div [hidden]="segundo.valid || segundo.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
              <div class="form-group">
                <label for="tercero">Tercer lugar</label>
                <input type="text" class="form-control" id="tercero" required [(ngModel)]="model.tercero" name="tercero"
                  #tercero="ngModel">
                <div [hidden]="tercero.valid || tercero.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
            </div>
          </div>
    </form>

    <form (ngSubmit)="onSubmit()" #torneoForm="ngForm">
        <div class="row">
            <div class="col">
    
              <div class="form-group">
                <label for="cupo">Cupo</label>
                <input type="number" class="form-control" id="cupo">
              </div>
    
              <div class="form-group">
                <label for="categoria">Categoría</label>
                <select class="form-control" id="categoria" [(ngModel)]="model.categoria" name="categoria">
                  <option *ngFor="let cate of categorias" [value]="cate">{{cate}}</option>
                </select>
              </div>
    
              <div class="form-group">
                <label for="costo">Costo de inscripción</label>
                <input type="text" class="form-control" id="costo" required [(ngModel)]="model.costo" name="costo"
                  #costo="ngModel">
                <div [hidden]="costo.valid || costo.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
            </div>
            <div class="col">
    
              <div class="form-group">
                <label for="primero">Primer lugar</label>
                <input type="text" class="form-control" id="primero" required [(ngModel)]="model.primero" name="primero"
                  #primero="ngModel">
                <div [hidden]="primero.valid || primero.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
              <div class="form-group">
                <label for="segundo">Segundo lugar</label>
                <input type="text" class="form-control" id="segundo" required [(ngModel)]="model.segundo" name="segundo"
                  #segundo="ngModel">
                <div [hidden]="segundo.valid || segundo.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
              <div class="form-group">
                <label for="tercero">Tercer lugar</label>
                <input type="text" class="form-control" id="tercero" required [(ngModel)]="model.tercero" name="tercero"
                  #tercero="ngModel">
                <div [hidden]="tercero.valid || tercero.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
            </div>
          </div>
    </form>

    <form (ngSubmit)="onSubmit()" #torneoForm="ngForm">
        <div class="row">
            <div class="col">
    
              <div class="form-group">
                <label for="cupo">Cupo</label>
                <input type="number" class="form-control" id="cupo">
              </div>
    
              <div class="form-group">
                <label for="categoria">Categoría</label>
                <select class="form-control" id="categoria" [(ngModel)]="model.categoria" name="categoria">
                  <option *ngFor="let cate of categorias" [value]="cate">{{cate}}</option>
                </select>
              </div>
    
              <div class="form-group">
                <label for="costo">Costo de inscripción</label>
                <input type="text" class="form-control" id="costo" required [(ngModel)]="model.costo" name="costo"
                  #costo="ngModel">
                <div [hidden]="costo.valid || costo.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
            </div>
            <div class="col">
    
              <div class="form-group">
                <label for="primero">Primer lugar</label>
                <input type="text" class="form-control" id="primero" required [(ngModel)]="model.primero" name="primero"
                  #primero="ngModel">
                <div [hidden]="primero.valid || primero.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
              <div class="form-group">
                <label for="segundo">Segundo lugar</label>
                <input type="text" class="form-control" id="segundo" required [(ngModel)]="model.segundo" name="segundo"
                  #segundo="ngModel">
                <div [hidden]="segundo.valid || segundo.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
    
              <div class="form-group">
                <label for="tercero">Tercer lugar</label>
                <input type="text" class="form-control" id="tercero" required [(ngModel)]="model.tercero" name="tercero"
                  #tercero="ngModel">
                <div [hidden]="tercero.valid || tercero.pristine" class="alert alert-danger">Campo obligatorio</div>
              </div>
            </div>
          </div>
    </form>

  </div>
</div>