<app-userbar [usuario]='"Admin"'></app-userbar>






<div class="row ">

    <div *ngFor="let torneo of torneos; let i = index;" class="column">
        <div *ngIf="i > 0 && i < 2">
                <div class="card">


                        <thead class="bg-dark text-white claseHead" >
                                <tr>
                                  <th scope="col">1</th>
                                  <th scope="col">2</th>
                                  <th scope="col">3</th>
                                  <th scope="col">4</th>
                                  <th scope="col">5</th>
                                  <th scope="col">6</th>
                                </tr>
                        </thead>

                        <table class="table table-sm ">
                                <thead class="bg-dark text-white">
                                  <tr>

                                  </tr>
                                </thead>
                                <tbody>
                                    <tr  class="text-dark" >
                                        <td>
                                                Rafael Nadal
                                        </td>
                                        <td>

                                                <table class="table table-sm ">
                                                        <thead class="bg-dark text-white">
                                                          <tr>
                                                              
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr  class="text-dark" >
                                                                <td>
                                                                        <input #newTorneo1A type="number" id="primeroA" name="primeroA" class="content" min="0" max="25" (change)="cambioEstado1A()" >
                                                                </td>
                                                                <td>
                                                                        <input #newTorneo2A type="number" id="segundoA" name="segundoA" class="content" min="0" max="25" (change)="cambioEstado2A()" [disabled]="t2A==0">
                                                                </td>
                                                                <td>
                                                                        <input #newTorneo3A type="number" id="terceroA" name="terceroA" class="content" min="0" max="25" (change)="cambioEstado3A()" [disabled]="t3A==0">
                                                                </td>
                                                                <td>
                                                                        <input #newTorneo4A type="number" id="cuartoA" name="cuartoA" class="content" min="0" max="25" (change)="cambioEstado4A()" [disabled]="t4A==0">
                                                                </td>
                                                                <td>
                                                                        <input #newTorneo5A type="number" id="quintoA" name="quintoA" class="content" min="0" max="25" (change)="cambioEstado5A()" [disabled]="t5A==0">
                                                                </td>
                                                                <td>
                                                                        <input #newTorneo6A type="number" id="sextoA" name="sextoA" class="content" min="0" max="25" (change)="cambioEstado6A()" [disabled]="t6A==0">
                                                                </td>
                                                            </tr>   
                                     
                                          
                                                        </tbody>
                                                </table>
                                            
                                        </td>
                                    </tr>   
                
                                    <tr  class="text-dark" >
                                            <td>
                                                    Djovotsh Federer
                                            </td>
                                            <td>
                                                    <table class="table table-sm ">
                                                            <thead class="bg-dark text-white">
                                                              <tr>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr  class="text-dark" >
                                                                    <td>
                                                                            <input #newTorneo1B type="number" id="primeroB" name="primeroB" class="content" min="0" max="25" (change)="cambioEstado1B()">
                                                                    </td>
                                                                    <td>
                                                                            <input #newTorneo2B type="number" id="segundoB" name="segundoB" class="content" min="0" max="25" (change)="cambioEstado2B()" [disabled]="t2B==0">
                                                                    </td>
                                                                    <td>
                                                                            <input #newTorneo3B type="number" id="terceroB" name="terceroB" class="content" min="0" max="25" (change)="cambioEstado3B()" [disabled]="t3B==0">
                                                                    </td>
                                                                    <td>
                                                                            <input #newTorneo4B type="number" id="cuartoB" name="cuartoB" class="content" min="0" max="25" (change)="cambioEstado4B()" [disabled]="t4A==0">
                                                                    </td>
                                                                    <td>
                                                                            <input #newTorneo5B type="number" id="quintoB" name="quintoB" class="content" min="0" max="25" (change)="cambioEstado5B()" [disabled]="t5A==0">
                                                                    </td>
                                                                    <td>
                                                                            <input #newTorneo6B type="number" id="sextoB" name="sextoB" class="content" min="0" max="25" (change)="cambioEstado6B()" [disabled]="t6A==0">
                                                                    </td>
                                                                </tr>   
                                         
                                              
                                                            </tbody>
                                                    </table>
                                            </td>
                                    </tr>  
                  
                                </tbody>
                        </table>
                
                        <div class="abandono">
                
                              
                                  <div>
                                      <input class="checkLeBox" type="checkbox" name="option-2" id="option-2" (change)="cambioAbandono()">
                                      <div class="checkLeBoxText">Abandono</div>
                                  </div>
                                  <div class="textBoxSixe">
                                      <textarea  rows="1" cols="70" value="Motivo" [disabled]="abandono==0">Motivo </textarea>
                                  </div>
                                  <div>
                                      <input type="submit" class="btn-generico botonDeEnviar" value="Enviar" data-toggle="modal" data-target="#exampleModal">
                                  </div>
                        </div>
                </div>
        </div>
    </div>
</div>






      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmacion registro</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Desea realizar el registro de este enfrentamiento?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button routerLink="/crear-competencia-test1/:id" type="button" class="btn btn-primary" (click)="guardarResultado()">Confirmar</button>
            </div>
          </div>
        </div>
      </div>






