
.card{
    width: 150px;
    border-color: #48B48F;
    background-color: #FAFAFA;
    border-width: 3.5px;
    align-content: center;
    padding: 0%;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

.card-title{
    font-size: 12px;
    cursor: move;
}

.round {
    float: left;
  }
  .round.r-of-4 {
    
  }
  .round.r-of-2 {
    margin-top: 25px;
  }
  .bracket-game {
    max-width: 125px;
    margin: 10px 0;
  }
  .player {
    min-width: 100px;
    border: 1px solid #AAA;
    padding-left: 10px;
  }
  .player.top {
    border-radius: 3px 3px 0 0;
  }
  .player.bot {
    border-radius: 0 0 3px 3px;
  }
  .player .score {
    display: inline;
    float: right;
    border-left: 1px solid #AAA;
    padding-left: 10px;
    padding-right: 10px;
    background: #EEE;
  }
  .player.win {
    background-color: #B8F2B8;
  }
  .player.loss {
    background-color: #F2B8B8;
  }
  .connectors {
    float: left;
    min-width: 35px;
  }
  .connectors.r-of-2 .top-line {
    position: relative;
    top: 30px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .connectors.r-of-2 .bottom-line {
    position: relative;
    top: 81px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .connectors.r-of-2 .vert-line {
    position: relative;
    top: 26px;
    left: -16px;
    height: 55px;
    border-right: 2px solid #AAA;
  }
  .connectors.r-of-2 .next-line {
    position: relative;
    top: -4px;
    left: 17px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .clear {
    clear: both;
  }

  .barra{
    width: 50%;
    size: 15px;
    color: #48B48F;
  }

  /* Red border */
hr.new1 {
    border-top: 1px solid red;
  }
  
  /* Dashed red border */
  hr.new2 {
    border-top: 1px dashed red;
  }
  
  /* Dotted red border */
  hr.new3 {
    border-top: 1px dotted red;
  }
  
  /* Thick red border */
  hr.new4 {
    border: 1px solid red;
  }
  
  /* Large rounded green border */
  hr.new5 {
    width: 50%;
    border: 1.5px solid #48B48F;
    border-radius: 1px;
  }

  hr.new6 {
    position: relative;
    width: 50%;
    left: -30px;
    border: 1.5px solid #48B48F;
    border-radius: 1px;
  }

  .vl {
    position: absolute;
    left: 50%;
    border-left: 3px solid #48B48F;
    height: 42px;
  }

  .v2 {
    position: absolute;
    left: 17.5%;
    border-left: 3px solid #48B48F;
    height: 200px;
  }

  .v3 {
    position: absolute;
    left: 65%;
    border-left: 3px solid #48B48F;
    height: 500px;
  }

  .v6 {
    position: absolute;
    left: 182%;
    border-left: 3px solid #48B48F;
    height: 500px;
  }

  .v7 {
    position: absolute;
    left: 90%;
    border-left: 3px solid #48B48F;
    height: 935px;
  }

  .v8 {
    position: absolute;
    left: 157%;
    border-left: 3px solid #48B48F;
    height: 935px;
  }