.ng-valid[required], .ng-valid.required{
    border-left: 5px solid #48B48F;
}

.ng-invalid:not(form)
{
    border-left: 5px solid #a94442;
}

#alinear
{
   margin-left: 850px; 
}

a
{
	color: white;
}



#disabled
{
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

.a_demo_four {
	background-color:#32606D;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	padding-right:50px;
	background-image: linear-gradient(bottom, #000 0%, #000 100%);
	background-image: -o-linear-gradient(bottom, #000 0%, #000 100%);
	background-image: -moz-linear-gradient(bottom, #000 0%, #000 100%);
	background-image: -webkit-linear-gradient(bottom, #000 0%, #000 100%);
	background-image: -ms-linear-gradient(bottom, #000 0%, #000 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0,#238A8A),
	color-stop(1,#48B48F)
	);	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_four:active {
	top:3px;
	background-image: linear-gradient(bottom, #000 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, #000  0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, #000  0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, #000  0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, #000  0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #48B48F),
	color-stop(1,#238A8A)
	);
	
	-webkit-box-shadow: inset 0px 1px 0px #000 , 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #000 , 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #000 , 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #000 , 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_four::before {
	background-color:#32606D;
	background-image:url(../../../assets/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #000, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #000, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #000, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #000, 0px 1px 0px #60c9f0;
}

.a_demo_four:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #000 , 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #000 , 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #000 , 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #000 , 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}

#nav
{
	margin-left: 35px;
}