<div class="container">
  <div [hidden]="submitted">
    <br><br>
    <h4>Datos del torneo</h4>
    <form (ngSubmit)="onSubmit()" #torneoForm="ngForm">
      <div class="row">
        <div class="col-6">

          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" required [(ngModel)]="model.nombre" name="nombre"
              #nombre="ngModel">
            <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">Campo obligatorio</div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="sede">Sede</label>
                <select class="form-control" id="sede" [(ngModel)]="model.sede" name="sede">
                  <option *ngFor="let sed of sedes" [value]="sed">{{sed}}</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="cancha">Tipo de cancha</label>
                <select class="form-control" id="cancha" [(ngModel)]="model.cancha" name="cancha">
                  <option *ngFor="let canch of canchas" [value]="canch">{{canch}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" style="width:528px;height:200px" class="form-control" id="descripcion" required
              [(ngModel)]="model.descripcion" name="descripcion" #descripcion="ngModel">
            <div [hidden]="descripcion.valid || descripcion.pristine" class="alert alert-danger">Campo obligatorio</div>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="!torneoForm.form.valid">Registrar</button>
          <button type="button" class="btn btn-default" (click)="newTorneo(); torneoForm.reset()">Nuevo Torneo</button>
        </div>


        <div class="col-6">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" required [(ngModel)]="model.nombre" name="nombre"
              #nombre="ngModel">
            <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">Campo obligatorio</div>
          </div>
        </div>

      </div>
    </form>
  </div>


  <div [hidden]="!submitted">
    <h2>Torneo registrado</h2>
    <div class="row">
      <div class="col-xs-3">Nombre</div>
      <div class="col-xs-9">{{ model.nombre }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Descripción</div>
      <div class="col-xs-9">{{ model.descripcion }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Sede</div>
      <div class="col-xs-9">{{ model.sede }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Tipo de canchha</div>
      <div class="col-xs-9">{{ model.cancha }}</div>
    </div>
    <br>

    <button class="btn btn-primary" (click)="submitted=false">Regresar</button>
  </div>
</div>