.ng-valid[required], .ng-valid.required{
    border-left: 5px solid #48B48F;
}

.ng-invalid:not(form)
{
    border-left: 5px solid #a94442;
}

#alinear
{
   margin-left: 850px; 
}

a
{
	color: white;
}



#disabled
{
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}
