<!-- <div class="container-fluid">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto">
        <div class="carousel-item col-md-4 active">
          <div class="card">




              <div class="card__side card__side--front">
                  <div class="card__picture card__picture--1">
                      &nbsp;
                  </div>
                  <h4 class="card__heading">
                      <span class="card__heading-span--1">
                              Qatar ExxonMobil Open
                      </span>   
                  </h4>
                  <div class="card__details">
                      <ul>
                          <li>Doha, Catar</li>
                          <li>December 31 2018 - </li>
                          <li>January 05 2019</li>
                          <li>Exterior</li>
                          <li>Dura</li>
                      </ul>
                  </div>
              </div>
              <div class="card__side card__side--back card__side--back-1">
                      <div class="card__cta">
                          <div class="card__price-box">
                              <p class="card__price-only">
                                  Compromiso Financiero
                              </p>
                              <p class="card__price-value">
                                  $1,416,205
                              </p>
                          </div>
                          <a href="#" class="btn btn--white--1">Mas informacion!</a>
                      </div>
              </div>




            

          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">






              <div class="card__side card__side--front">
                  <div class="card__picture card__picture--2">&nbsp;</div>
                        <h4 class="card__heading">
                            <span class="card__heading-span--2">
                                Brisbane International
                            </span>   
                        </h4>
                        <div class="card__details">
                            <ul>
                              <li>Brisbane, Australia</li>
                              <li>December 31 2018 - </li>
                              <li>January 06 2019</li>
                              <li>Exterior</li>
                              <li>Dura</li>
                            </ul>
                        </div>
              </div>
  
              <div class="card__side card__side--back card__side--back-2">
                                  <div class="card__cta">
                                      <div class="card__price-box">
                                          <p class="card__price-only">
                                              Compromiso Financiero 
                                          </p>
                                          <p class="card__price-value">
                                              $589,680
                                          </p>
                                      </div>
                                      <a href="#" class="btn btn--white">Mas informacion!</a>
                                  </div>
              </div>




              
            
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/3ed846/fff" alt="Card image cap">

              <h4 class="card-title">Card 3</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/42ebf4/fff" alt="Card image cap">

              <h4 class="card-title">Card 4</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
           
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f49b41/fff" alt="Card image cap">

              <h4 class="card-title">Card 5</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f4f141/fff" alt="Card image cap">

              <h4 class="card-title">Card 6</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/8e41f4/fff" alt="Card image cap">

              <h4 class="card-title">Card 7</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          
          </div>
        </div>
      </div>

            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon colorCar" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>


      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>


    </div>
  </div>
</div> -->

























<!-- <button (click)="onClick()" class="btn btn-primary">Click Me</button> -->


<app-navbar></app-navbar>   
      <section class="section-tours">
              <div class="u-center-text u-margin-bottom-big">
                      <h2 class="heading-secondary">
                           Torneos mas populares
                      </h2> 
              </div> 
              
              <div class="row">
                  <div class="col-1-of-3">
                      <div class="card">
                          <div class="card__side card__side--front">
                              <div class="card__picture card__picture--1">
                                  &nbsp;
                              </div>
                              <h4 class="card__heading">
                                  <span class="card__heading-span--1">
                                          Qatar ExxonMobil Open
                                  </span>   
                              </h4>
                              <div class="card__details">
                                  <ul>
                                      <li>Doha, Catar</li>
                                      <li>December 31 2018 - </li>
                                      <li>January 05 2019</li>
                                      <li>Exterior</li>
                                      <li>Dura</li>
                                  </ul>
                              </div>
                          </div>
                          <div class="card__side card__side--back card__side--back-1">
                                  <div class="card__cta">
                                      <div class="card__price-box">
                                          <p class="card__price-only">
                                              Compromiso Financiero
                                          </p>
                                          <p class="card__price-value">
                                              $1,416,205
                                          </p>
                                      </div>
                                      <a href="#" class="btn btn--white--1">Mas informacion!</a>
                                  </div>
                          </div>
                      </div>
                  </div>




                  <div class="col-1-of-3">
                          <div class="card">
                                  <div class="card__side card__side--front">
                                      <div class="card__picture card__picture--2">
                                          &nbsp;
                                      </div>
                                      <h4 class="card__heading">
                                          <span class="card__heading-span--2">
                                                  Brisbane International
                                          </span>   
                                      </h4>
                                      <div class="card__details">
                                          <ul>
                                                <li>Brisbane, Australia</li>
                                                <li>December 31 2018 - </li>
                                                <li>January 06 2019</li>
                                                <li>Exterior</li>
                                                <li>Dura</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="card__side card__side--back card__side--back-2">
                                          <div class="card__cta">
                                              <div class="card__price-box">
                                                  <p class="card__price-only">
                                                      Compromiso Financiero 
                                                  </p>
                                                  <p class="card__price-value">
                                                      $589,680
                                                  </p>
                                              </div>
                                              <a href="#popup" class="btn btn--white">Mas informacion!</a>
                                          </div>
                                  </div>
                              </div>
                  </div>



                  <div class="col-1-of-3">
                          <div class="card">
                                  <div class="card__side card__side--front">
                                      <div class="card__picture card__picture--3">
                                          &nbsp;
                                      </div>
                                      <h4 class="card__heading">
                                          <span class="card__heading-span--3">
                                                  Tata Open Maharashtra
                                          </span>   
                                      </h4>
                                      <div class="card__details">
                                          <ul>
                                                <li>Pune, India</li>
                                                <li>December 31 2018 - </li>
                                                <li>January 05 2019</li>
                                                <li>Exterior</li>
                                                <li>Dura</li> 
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="card__side card__side--back card__side--back-3">
                                          <div class="card__cta">
                                              <div class="card__price-box">
                                                  <p class="card__price-only">
                                                      Compromiso Financiero 
                                                  </p>
                                                  <p class="card__price-value">
                                                      $589,680 
                                                  </p>
                                              </div>
                                              <a class="btn btn--white nav-link" onclick="document.getElementById('modal-wrapper').style.display='block'" >Mas informacion!</a>                              
                                          </div>
                                  </div>
                              </div>
                  </div>
              </div>


          </section>


          <div id="modal-wrapper" class="modal">
                <div class="modal-content animate">
                    <div class="popup__left">
                        <img src="../../../../assets/img/estadio-1.jpg" alt="Estadio" class="popup__img">
                        <img src="../../../../assets/img/estadio-2.jpg" alt="Estadio" class="popup__img">
                    </div>
                    <div class="popup__right">
                        <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                        <h2 class="heading-secondary u-margin-bottom-small">Tata Open Maharashtra</h2>
                        <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please red these terms before booking</h3>
                        <p class="popup__text">
                                Doha Celebrates Season Opener  
                                Many of the world's best tennis players open their seasons at the Qatar ExxonMobil Open, one of two ATP World Tour events held in the Middle East. Roger Federer, Andy Murray, 
                                Rafael Nadal and Novak Djokovic have won multiple titles at this event, with Nadal's haul including the 2014 singles title and four doubles crowns (2005, '09, '11 and '15).
                                Djokovic won back-to-back titles in 2016 and '17.
                        </p>
                        <a href="#" class="btn btn--green">Books now!</a>
                    </div>
                </div>
            </div>
            <br><br>
<app-footer></app-footer>
<!--<router-outlet></router-outlet>-->

