<app-navbar></app-navbar>


      
      <section class="section-tours">
              <div class="u-center-text u-margin-bottom-big">
                      <h2 class="heading-secondary">
                           Torneos mas populares
                      </h2> 
              </div> 
              
              <div class="row">
                  <div class="col-1-of-3">
                      <div class="card">
                          <div class="card__side card__side--front">
                              <div class="card__picture card__picture--1">
                                  &nbsp;
                              </div>
                              <h4 class="card__heading">
                                  <span class="card__heading-span--1">
                                          Qatar ExxonMobil Open
                                  </span>   
                              </h4>
                              <div class="card__details">
                                  <ul>
                                      <li>Doha, Catar</li>
                                      <li>December 31 2018 - </li>
                                      <li>January 05 2019</li>
                                      <li>Exterior</li>
                                      <li>Dura</li>
                                  </ul>
                              </div>
                          </div>
                          <div class="card__side card__side--back card__side--back-1">
                                  <div class="card__cta">
                                      <div class="card__price-box">
                                          <p class="card__price-only">
                                              Compromiso Financiero
                                          </p>
                                          <p class="card__price-value">
                                              $1,416,205
                                          </p>
                                      </div>
                                      <a class="btn btn--white nav-link" onclick="document.getElementById('modal-wrapper').style.display='block'">Mas informacion!</a>
                                  </div>
                          </div>
                      </div>
                  </div>




                  <div class="col-1-of-3">
                          <div class="card">
                                  <div class="card__side card__side--front">
                                      <div class="card__picture card__picture--2">
                                          &nbsp;
                                      </div>
                                      <h4 class="card__heading">
                                          <span class="card__heading-span--2">
                                                  Brisbane International
                                          </span>   
                                      </h4>
                                      <div class="card__details">
                                          <ul>
                                                <li>Brisbane, Australia</li>
                                                <li>December 31 2018 - </li>
                                                <li>January 06 2019</li>
                                                <li>Exterior</li>
                                                <li>Dura</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="card__side card__side--back card__side--back-2">
                                          <div class="card__cta">
                                              <div class="card__price-box">
                                                  <p class="card__price-only">
                                                      Compromiso Financiero 
                                                  </p>
                                                  <p class="card__price-value">
                                                      $589,680
                                                  </p>
                                              </div>
                                              <a class="btn btn--white nav-link" onclick="document.getElementById('modal-wrapper').style.display='block'">Mas informacion!</a>
                                          </div>
                                  </div>
                              </div>
                  </div>



                  <div class="col-1-of-3">
                          <div class="card">
                                  <div class="card__side card__side--front">
                                      <div class="card__picture card__picture--3">
                                          &nbsp;
                                      </div>
                                      <h4 class="card__heading">
                                          <span class="card__heading-span--3">
                                                  Tata Open Maharashtra
                                          </span>   
                                      </h4>
                                      <div class="card__details">
                                          <ul>
                                                <li>Pune, India</li>
                                                <li>December 31 2018 - </li>
                                                <li>January 05 2019</li>
                                                <li>Exterior</li>
                                                <li>Dura</li> 
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="card__side card__side--back card__side--back-3">
                                          <div class="card__cta">
                                              <div class="card__price-box">
                                                  <p class="card__price-only">
                                                      Compromiso Financiero 
                                                  </p>
                                                  <p class="card__price-value">
                                                      $589,680 
                                                  </p>
                                              </div>
                                              <a class="btn btn--white nav-link" onclick="document.getElementById('modal-wrapper').style.display='block'" >Mas informacion!</a>                              
                                          </div>
                                  </div>
                              </div>
                  </div>
              </div>


          </section>


          <div id="modal-wrapper" class="modal">
                <div class="modal-content animate">
                    <div class="popup__left">
                        <img src="../../../../assets/img/estadio-1.jpg" alt="Estadio" class="popup__img">
                        <img src="../../../../assets/img/estadio-2.jpg" alt="Estadio" class="popup__img">
                    </div>
                    <div class="popup__right">
                        <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                        <h2 class="heading-secondary u-margin-bottom-small">Tata Open Maharashtra</h2>
                        <!-- <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please red these terms before booking</h3> -->
                        <p class="popup__text">
                                Doha Celebrates Season Opener  
                                Many of the world's best tennis players open their seasons at the Qatar ExxonMobil Open, one of two ATP World Tour events held in the Middle East. Roger Federer, Andy Murray, 
                                Rafael Nadal and Novak Djokovic have won multiple titles at this event, with Nadal's haul including the 2014 singles title and four doubles crowns (2005, '09, '11 and '15).
                                Djokovic won back-to-back titles in 2016 and '17.
                        </p>
                        <a href="#" class="btn btn--green">More Here!</a>
                    </div>
                </div>
          </div>





 <div class="container-fluid">
    <div class="row fondo1 mt-4 mb-1">



          <!-- <div *ngIf="genero==='femenino'" class="select mr-5" aria-label="Selección de Paises">
            <select (change)="cambiarPaisSeleccionado($event.target.value)" id="select">
              <option value=""> Todos los Paises </option>
              <option *ngFor="let torneo of torneos" value="{{torneo.nacionalidad}}"> {{torneo.nacionalidad}} </option>
            </select>
          </div> -->




      <div class="col-11 mx-auto">
  
  
          <table class="table table-hover">
              <thead class="bg-dark text-white">
                <tr>
                    <!-- <th scope="col">ID</th> -->
                    <th scope="col">Torneo</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Clausura</th>
                    <th scope="col">Tipo de Cancha</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Financiamiento Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let torneo of torneos" class="text-dark">
                  <!-- <td>
                    {{torneo.id}}
                  </td> -->
                  <td>
                      <a routerLink="/torneo-individual/{{torneo.id}}">
                        {{torneo.nombreTorneo}}
                      </a>
                    <!-- {{torneo.nombreTorneo}} -->
                  </td>
                  <td>
                    {{torneo.nacionalidad}}
                  </td>
                  <td>
                    {{torneo.fechaInicio}}
                  </td>
                  <td>
                    {{torneo.fechaFinal}}
                  </td>
                  <td>
                    {{torneo.tipoCancha}}
                  </td>
                  <td>
                    {{torneo.descripcion}}
                  </td>
                  <td>
                    {{torneo.financiamientoTotal}}
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>




    <div class="row">
        <div class="mx-auto" *ngIf=" filtradoPais===false">
          <button (click)="regresarPrincipio(1)" class="btn btn-generico mr-1 ml-1">
            Inicio
          </button>
          <button (click)="regresarPagina(1)" class="btn btn-generico mr-1 ml-1">
            Anterior
          </button>
          {{numeroPaginaF}} de {{totalPaginasF}}
          <button (click)="avanzarPagina(1)" class="btn btn-generico mr-1 ml-1">
            Siguiente
          </button>
          <button (click)="avanzarFinal(1)" class="btn btn-generico mr-1 ml-1">
            Final
          </button>
        </div>
      </div>



  </div>
  
  
  










            
    
<div class="mt-5">
    <app-footer></app-footer>
</div>
