<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-dark">

  <div class="container">
    <div class="navbar-brand"><b>Bienvenido {{usuario}}</b></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" alignment="center">
      <ul class="navbar-nav mr-auto"></ul>
      <a class="btn btn-outline-info d-lg-inline-block mb-3 mb-md-0 ml-md-3" routerLink="/inicio">Salir</a>
    </div>
  </div>
</nav>