<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
  integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>

<app-userbar [usuario]='nombre'></app-userbar>

<div class="container-fluid mt-5">
  <div class="row my-5" id="filtradoPrincipal">
    <div class="col-10 ml-5">
      <div class="btn-toolbar">
        <div class="select" aria-label="Selección de Nacionalidad">
          <select (change)="cambiarNacionalidadSeleccionada($event.target.value)" id="select">
            <option value=""> Todos los Torneos </option>
            <option *ngFor="let nacionalidad of nacionalidadTorneos" value="{{nacionalidad}}"> {{nacionalidad}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-competencia my-3 col-5 mx-auto" *ngFor="let torneo of torneos">
      <div class="card-body col-12">
        <h2 class="card-title"> {{torneo.nombreTorneo}} </h2>
        <div>
          <p class="card-text">{{torneo.nacionalidad}}</p>
        </div>
        <!---------------------------------------------------------------->
        <p class="card-text">Fecha inicial: {{torneo.fechaInicio}}</p>
        <p class="card-text">Fecha final: {{torneo.fechaFinal}}</p>
        <p class="card-text">Financiamieto: {{torneo.financiamientoTotal}}</p>
        <div class="col-8 mx-auto">
          <a routerLink="/enfrentamiento/{{torneo.id}}" class="card-link">Enfrentamientos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto my-5" *ngIf="filtradoTorneo===false">
      <button (click)="regresarPrincipio()" class="btn btn-generico mr-1 ml-1">
        Inicio
      </button>
      <button (click)="regresarPagina()" class="btn btn-generico mr-1 ml-1">
        Anterior
      </button>
      {{numeroPagina}} de {{totalPaginas}}
      <button (click)="avanzarPagina()" class="btn btn-generico mr-1 ml-1">
        Siguiente
      </button>
      <button (click)="avanzarFinal()" class="btn btn-generico mr-1 ml-1">
        Final
      </button>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto my-5" *ngIf="filtradoTorneo===true">
      <button (click)="regresarPrincipio()" class="btn btn-generico mr-1 ml-1">
        Inicio
      </button>
      <button (click)="regresarPagina()" class="btn btn-generico mr-1 ml-1">
        Anterior
      </button>
      {{numeroPaginaFiltrado}} de {{totalPaginasFiltrado}}
      <button (click)="avanzarPagina()" class="btn btn-generico mr-1 ml-1">
        Siguiente
      </button>
      <button (click)="avanzarFinal()" class="btn btn-generico mr-1 ml-1">
        Final
      </button>
    </div>
    <a routerLink="/paso1"><img src="../../assets/masss.png"></a>
  </div>
</div>

<!--<a routerLink="/admonAux" class="btn btn--green">Competencias</a>-->
