<div class="container">
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>Competidor</th>
                                      <th>1</th>
                                      <th>2</th>
                                      <th>3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><img width="25px" height="20px" src="../../assets/suiza.JPG" alt=""></td>
                                        <td>Roger Federer</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>11</td>
                                      </tr>
                                      <tr>
                                        <td><img width="25px" height="20px" src="../../assets/djo.JPG" alt=""></td>
                                        <td>Novak Djokovic</td>
                                        <td>5</td>
                                        <td>7</td>
                                        <td>13</td>
                                      </tr>
                                      <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                      </tr>
                                    </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>Competidor</th>
                                      <th>1</th>
                                      <th>2</th>
                                      <th>3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><img width="25px" height="20px" src="../../assets/suiza.JPG" alt=""></td>
                                      <td>Roger Federer</td>
                                      <td>7</td>
                                      <td>5</td>
                                      <td>11</td>
                                    </tr>
                                    <tr>
                                      <td><img width="25px" height="20px" src="../../assets/djo.JPG" alt=""></td>
                                      <td>Novak Djokovic</td>
                                      <td>5</td>
                                      <td>7</td>
                                      <td>13</td>
                                    </tr>
                                    <tr>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>Competidor</th>
                                      <th>1</th>
                                      <th>2</th>
                                      <th>3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><img width="25px" height="20px" src="../../assets/suiza.JPG" alt=""></td>
                                      <td>Roger Federer</td>
                                      <td>7</td>
                                      <td>5</td>
                                      <td>11</td>
                                    </tr>
                                    <tr>
                                      <td><img width="25px" height="20px" src="../../assets/djo.JPG" alt=""></td>
                                      <td>Novak Djokovic</td>
                                      <td>5</td>
                                      <td>7</td>
                                      <td>13</td>
                                    </tr>
                                    <tr>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="table-responsive">          
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Competidor</th>
                                          <th>1</th>
                                          <th>2</th>
                                          <th>3</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td><img width="25px" height="20px" src="../../assets/suiza.JPG" alt=""></td>
                                            <td>Roger Federer</td>
                                            <td>7</td>
                                            <td>5</td>
                                            <td>11</td>
                                          </tr>
                                          <tr>
                                            <td><img width="25px" height="20px" src="../../assets/djo.JPG" alt=""></td>
                                            <td>Novak Djokovic</td>
                                            <td>5</td>
                                            <td>7</td>
                                            <td>13</td>
                                          </tr>
                                          <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div class="table-responsive">          
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Competidor</th>
                                          <th>1</th>
                                          <th>2</th>
                                          <th>3</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td><img width="25px" height="20px" src="../../assets/suiza.JPG" alt=""></td>
                                            <td>Roger Federer</td>
                                            <td>7</td>
                                            <td>5</td>
                                            <td>11</td>
                                          </tr>
                                          <tr>
                                            <td><img width="25px" height="20px" src="../../assets/djo.JPG" alt=""></td>
                                            <td>Novak Djokovic</td>
                                            <td>5</td>
                                            <td>7</td>
                                            <td>13</td>
                                          </tr>
                                          <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div class="table-responsive">          
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Competidor</th>
                                          <th>1</th>
                                          <th>2</th>
                                          <th>3</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td><img width="25px" height="20px" src="../../assets/suiza.JPG" alt=""></td>
                                            <td>Roger Federer</td>
                                            <td>7</td>
                                            <td>5</td>
                                            <td>11</td>
                                          </tr>
                                          <tr>
                                            <td><img width="25px" height="20px" src="../../assets/djo.JPG" alt=""></td>
                                            <td>Novak Djokovic</td>
                                            <td>5</td>
                                            <td>7</td>
                                            <td>13</td>
                                          </tr>
                                          <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                  </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>