.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -15px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 8px;
    height: 1px;
}

.blog .carousel-indicators .active {
    background: #0fc9af;
}

h3
{
    text-align: center;
}

.container
{
    height: 120px;
}
