<div class="container">
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <h3>Femenenino</h3>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>Competidor</th>
                                      <th>1</th>
                                      <th>2</th>
                                      <th>3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><img width="30px" height="30px" src="../../../assets/banderas/francia.png" alt=""></td>
                                        <td>Harmony Tan</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td><img width="30px" height="30px" src="../../assets/banderas/reino-unido.png" alt=""></td>
                                        <td>Harriet Dart</td>
                                        <td>2</td>
                                        <td>6</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                      </tr>
                                    </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>Competidor</th>
                                      <th>1</th>
                                      <th>2</th>
                                      <th>3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><img width="30px" height="30px" src="../../assets/banderas/republica-checa.png" alt=""></td>
                                      <td>Marketa Vondrousova</td>
                                      <td>6</td>
                                      <td>6</td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><img width="30px" height="30px" src="../../assets/banderas/republica-checa.png" alt=""></td>
                                      <td>Barbora Strycova</td>
                                      <td>2</td>
                                      <td>1</td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>Competidor</th>
                                      <th>1</th>
                                      <th>2</th>
                                      <th>3</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><img width="30px" height="30px" src="../../assets/banderas/republica-checa.png" alt=""></td>
                                      <td>Johana Markova</td>
                                      <td>3</td>
                                      <td>1</td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td><img width="30px" height="30px" src="../../assets/banderas/italia.png" alt=""></td>
                                      <td>Jasmine Paolini</td>
                                      <td>6</td>
                                      <td>6</td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                      <td> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <h3> Masculinos</h3><br>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="table-responsive">          
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Competidor</th>
                                          <th>1</th>
                                          <th>2</th>
                                          <th>3</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td><img width="30px" height="30px" src="../../assets/banderas/italia.png" alt=""></td>
                                            <td>Matteo Berrettini</td>
                                            <td>6</td>
                                            <td>6</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <td><img width="30px" height="30px" src="../../assets/banderas/serbia.png" alt=""></td>
                                            <td>Laslo Djere</td>
                                            <td>4</td>
                                            <td>2</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div class="table-responsive">          
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Competidor</th>
                                          <th>1</th>
                                          <th>2</th>
                                          <th>3</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td><img width="30px" height="30px" src="../../assets/banderas/serbia.png" alt=""></td>
                                            <td>Filip Krajinovic</td>
                                            <td>6</td>
                                            <td>6</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <td><img width="30px" height="30px" src="../../assets/banderas/francia.png" alt=""></td>
                                            <td>Pierre-Hugues Herbert</td>
                                            <td>2</td>
                                            <td>2</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div class="table-responsive">          
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th>Competidor</th>
                                          <th>1</th>
                                          <th>2</th>
                                          <th>3</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td><img width="30px" height="30px" src="../../assets/banderas/argentina.png" alt=""></td>
                                            <td>Pablo Cuevas</td>
                                            <td>5</td>
                                            <td>7</td>
                                            <td>7</td>
                                          </tr>
                                          <tr>
                                            <td><img width="30px" height="30px" src="../../assets/banderas/croacia.png" alt=""></td>
                                            <td>Marin Cilic</td>
                                            <td>7</td>
                                            <td>5</td>
                                            <td>5</td>
                                          </tr>
                                          <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                  </div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>