<app-userbar></app-userbar>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
  integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>


<div class="container-fluid">
  <div class="row">

    <div class="col-6">
        <div class="container fluid mt-5">
            <div class="row">
              <div class="col-10 mx-auto">
                <table class="table" *ngIf="competencia.tipoCompetencia < 3">
                  <thead class="bg-dark text-white">
                    <tr>
                      <th class="text-center" colspan="2">
                        <h1>Torneo: {{competencia.torneo}} </h1>
                      </th>
                    </tr>
                    <tr>
                      <th *ngIf="competencia.tipoCompetencia===1" colspan="1" class="text-center">
                        Modalidad: Individual Masculino
                      </th>
                      <th *ngIf="competencia.tipoCompetencia===2" colspan="1" class="text-center">
                        Modalidad: Individual Femenino
                      </th>
                      <th *ngIf="competencia.categoria===1" colspan="1" class="text-center">
                        Categoría: U-18
                      </th>
                      <th *ngIf="competencia.categoria===2" colspan="1" class="text-center">
                        Categoría: U-21
                      </th>
                      <th *ngIf="competencia.categoria===3" colspan="1" class="text-center">
                        Categoría: Profesional
                      </th>
                    </tr>
                    <tr>
          <!--
                      <th colspan="2" class="text-center">
                        Id Registro
                      </th>
          -->
                      <th colspan="2" class="text-center">
                        Tenista
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let inscrito of listaCompetidores" class="droptarget" (drop)="drop($event)" (dragover)="allowDrop($event)"> 
          <!--         <td colspan="2" class="text-center">
                        {{inscrito.id}}
                      </td>
          -->    
                      <td *ngIf="inscrito.nombreJugador!=null" colspan="2" class="text-center" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" id="{{ inscrito.nombreJugador }}" >
                        {{inscrito.nombreJugador}}
                      </td>
                      <td *ngIf="inscrito.nombreJugadora!=null" colspan="2" class="text-center" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" id="dragtarget">
                        {{inscrito.nombreJugadora}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table" *ngIf="competencia.tipoCompetencia >= 3">
                    <thead class="bg-dark text-white">
                      <tr>
                        <th class="text-center" colspan="2">
                          <h1>Torneo: {{competencia.torneo}} </h1>
                        </th>
                      </tr>
                      <tr>
                        <th *ngIf="competencia.tipoCompetencia===3" colspan="1" class="text-center">
                          Modalidad: Dobles Masculino
                        </th>
                        <th *ngIf="competencia.tipoCompetencia===4" colspan="1" class="text-center">
                          Modalidad: Dobles Femenino
                        </th>
                        <th *ngIf="competencia.tipoCompetencia===5" colspan="1" class="text-center">
                          Modalidad: Dobles Mixto
                        </th>
                        <th *ngIf="competencia.categoria===1" colspan="1" class="text-center">
                          Categoría: U-18
                        </th>
                        <th *ngIf="competencia.categoria===2" colspan="1" class="text-center">
                          Categoría: U-21
                        </th>
                        <th *ngIf="competencia.categoria===3" colspan="1" class="text-center">
                          Categoría: Profesional
                        </th>
                      </tr>
                      <tr>
          <!--
                          <th colspan="2" class="text-center">
                            Id Registro
                          </th>
          -->
                          <th colspan="2" class="text-center">
                            Tenista
                          </th>
          <!--
                          <th colspan="2" class="text-center">
                            Equipo
                          </th>
          -->
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let inscrito of listaCompetidores">
          <!--
                        <td colspan="2" class="text-center">
                          {{inscrito.id}}
                        </td>
          -->
                        <td *ngIf="inscrito.nombreJugador!=null" colspan="2" class="text-center">
                          {{inscrito.nombreJugador}}
                        </td>
                        <td *ngIf="inscrito.nombreJugadora!=null" colspan="2" class="text-center">
                          {{inscrito.nombreJugadora}}
                        </td>
          <!--
                        <td *ngIf="inscrito.equipo!=null" colspan="2" class="text-center">
                          {{inscrito.equipo}}
                        </td>
          -->
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto">
                  <a routerLink="/admin" class="btn btn-generico mt-5">Regresar</a>
                </div>
              </div>
          </div>
    </div>
    
    <div class="col-5">   
<br><br>

<label align="justify">A continuación se presentan las especificaciones del enfrentamiento, selecciona la fecha y la hora en la que
  desees que se lleve a cabo el encuentro recuerda que una vez asignada la informacion se presentara en las llaves de competencia.
</label>
<br><br>
        <table>
          <tr>
            <th>
                <label >Fecha:</label><br>
                <div class="input-group" style="width: 100%;">
                  <input #tres type="date" value="2019-05-13" min="2018-01-01" max="2019-12-31" class="form-control fas fa-calendar-alt"/>
                  
                </div>
              </th>
            <th>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th align="right">
                <label >Hora:</label><br>
                <div class="input-group">
                  <input #cuatro type="time"  >
                </div>
            </th>
          </tr>
        </table>

        <br><br>
        <label><strong>Instrucciones: </strong>Arrastra el nombre de los jugadores que se enfrentaran a las casillas siguientes.</label>
        <table>
          <tr align="center">
            <th align="center">
                <div id="uno" class="droptarget2" (drop)="drop($event)" (dragover)="allowDrop($event)" style="border-radius: 10px;
                border: 6px solid #48B48F;">
                  <p #jugador1 (dragstart)="dragStart($event)" draggable="true" id="dragtarget1" value="Novak"></p>
                </div>
            </th>
            <th>
                &nbsp;&nbsp;&nbsp;
            </th>
            <th align="center">

              <H1>VS</H1>

            </th>
            <th>
                &nbsp;&nbsp;&nbsp;
            </th>
            <th align="center">
               <div id="dos" class="droptarget2" (drop)="drop($event)" (dragover)="allowDrop($event)" style="border-radius: 10px;
               border: 6px solid #48B48F;">
                  <p  #jugador2 (dragstart)="dragStart($event)" draggable="true" id="dragtarget2" value="Rafael"></p>
               </div>
            </th>
          </tr>
        </table>
        <p align="right"><button class="btn btn-generico mt-5" align="right" (click)="agregarEnfrentamiento(tres.value, cuatro.value);">Generar</button>&nbsp; &nbsp;&nbsp;<a  *ngIf="cont == 8" class="nav-link" routerLink="/llave" class="btn btn-generico mt-5">Visualizar</a></p>
        <p align="right"></p>
    </div>
  
  </div>
</div>
<br>
<app-footer></app-footer>
