<app-userbar></app-userbar>

<div class="container-fluid">
  <div class="row">

    <div class="col-6">
        <div class="container fluid mt-5">
            <div class="row">
              <div class="col-10 mx-auto">
                <table class="table" *ngIf="competencia.tipoCompetencia < 3">
                  <thead class="bg-dark text-white">
                    <tr>
                      <th class="text-center" colspan="2">
                        <h1>Torneo: {{competencia.torneo}} </h1>
                      </th>
                    </tr>
                    <tr>
                      <th *ngIf="competencia.tipoCompetencia===1" colspan="1" class="text-center">
                        Modalidad: Individual Masculino
                      </th>
                      <th *ngIf="competencia.tipoCompetencia===2" colspan="1" class="text-center">
                        Modalidad: Individual Femenino
                      </th>
                      <th *ngIf="competencia.categoria===1" colspan="1" class="text-center">
                        Categoría: U-18
                      </th>
                      <th *ngIf="competencia.categoria===2" colspan="1" class="text-center">
                        Categoría: U-21
                      </th>
                      <th *ngIf="competencia.categoria===3" colspan="1" class="text-center">
                        Categoría: Profesional
                      </th>
                    </tr>
                    <tr>
          <!--
                      <th colspan="2" class="text-center">
                        Id Registro
                      </th>
          -->
                      <th colspan="2" class="text-center">
                        Tenista
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let inscrito of listaCompetidores" class="droptarget" (drop)="drop($event)" (dragover)="allowDrop($event)"> 
          <!--         <td colspan="2" class="text-center">
                        {{inscrito.id}}
                      </td>
          -->    
                      <td *ngIf="inscrito.nombreJugador!=null" colspan="2" class="text-center" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" id="{{ inscrito.nombreJugador }}" >
                        {{inscrito.nombreJugador}}
                      </td>
                      <td *ngIf="inscrito.nombreJugadora!=null" colspan="2" class="text-center" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)" draggable="true" id="dragtarget">
                        {{inscrito.nombreJugadora}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table" *ngIf="competencia.tipoCompetencia >= 3">
                    <thead class="bg-dark text-white">
                      <tr>
                        <th class="text-center" colspan="2">
                          <h1>Torneo: {{competencia.torneo}} </h1>
                        </th>
                      </tr>
                      <tr>
                        <th *ngIf="competencia.tipoCompetencia===3" colspan="1" class="text-center">
                          Modalidad: Dobles Masculino
                        </th>
                        <th *ngIf="competencia.tipoCompetencia===4" colspan="1" class="text-center">
                          Modalidad: Dobles Femenino
                        </th>
                        <th *ngIf="competencia.tipoCompetencia===5" colspan="1" class="text-center">
                          Modalidad: Dobles Mixto
                        </th>
                        <th *ngIf="competencia.categoria===1" colspan="1" class="text-center">
                          Categoría: U-18
                        </th>
                        <th *ngIf="competencia.categoria===2" colspan="1" class="text-center">
                          Categoría: U-21
                        </th>
                        <th *ngIf="competencia.categoria===3" colspan="1" class="text-center">
                          Categoría: Profesional
                        </th>
                      </tr>
                      <tr>
          <!--
                          <th colspan="2" class="text-center">
                            Id Registro
                          </th>
          -->
                          <th colspan="2" class="text-center">
                            Tenista
                          </th>
          <!--
                          <th colspan="2" class="text-center">
                            Equipo
                          </th>
          -->
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let inscrito of listaCompetidores">
          <!--
                        <td colspan="2" class="text-center">
                          {{inscrito.id}}
                        </td>
          -->
                        <td *ngIf="inscrito.nombreJugador!=null" colspan="2" class="text-center">
                          {{inscrito.nombreJugador}}
                        </td>
                        <td *ngIf="inscrito.nombreJugadora!=null" colspan="2" class="text-center">
                          {{inscrito.nombreJugadora}}
                        </td>
          <!--
                        <td *ngIf="inscrito.equipo!=null" colspan="2" class="text-center">
                          {{inscrito.equipo}}
                        </td>
          -->
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto">
                  <a routerLink="/admin" class="btn btn-generico mt-5">Regresar</a>
                </div>
              </div>
          </div>
    </div>
    
    <div class="col-5">   
<br><br>

<label align="justify">A continuación se presentan las especificaciones del enfrentamiento, selecciona la fecha y la hora en la que
  desees que se lleve a cabo el encuentro recuerda que una vez asignada la informacion se presentara en las llaves de competencia.
</label>
<br><br>
        <table>
          <tr>
            <th>
                <label >Fecha:</label><br>
                <input #tres type="date">
            </th>
            <th>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th align="right">
                <label >Hora:</label><br>
                <input #cuatro type="time">
            </th>
          </tr>
        </table>

        <br><br>
        <label><strong>Instrucciones: </strong>Arrastra el nombre de los jugadores que se enfrentaran a las casillas siguientes.</label>
        <table>
          <tr align="center">
            <th align="center">
                <div id="uno" class="droptarget2" (drop)="drop($event)" (dragover)="allowDrop($event)">
                  <p #jugador1 (dragstart)="dragStart($event)" draggable="true" id="dragtarget1" value="Novak"></p>
                </div>
            </th>
            <th>
                &nbsp;&nbsp;&nbsp;
            </th>
            <th align="center">

              <H1>VS</H1>

            </th>
            <th>
                &nbsp;&nbsp;&nbsp;
            </th>
            <th align="center">
               <div id="dos" class="droptarget2" (drop)="drop($event)" (dragover)="allowDrop($event)">
                  <p  #jugador2 (dragstart)="dragStart($event)" draggable="true" id="dragtarget2" value="Rafael"></p>
               </div>
            </th>
          </tr>
        </table>
        <p align="right"><button class="btn btn-generico mt-5" align="right" (click)="agregarEnfrentamiento(tres.value, cuatro.value);">Generar</button></p>

    </div>
  
  </div>
</div>


<div class="row">
  <div class="col-6">
    <br>
    <div class="card" style="width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="left: 15%; width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="left:30%;width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="left: 15%; width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
    <br>
    <div class="card" style="width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="left: 15%; width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="left:30%;width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>    
<br>
    <div class="card" style="width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="left: 15%; width: 8rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
<br>
    <div class="card" style="width: 5rem; height: 5rem;">
      <div class="card-body">
        <h5 class="card-title">Jugador1</h5>
      </div>
    </div>
  </div>




 <div class="col-6" alignment="center">   
  <br>
  <div class="card" style="width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="right: 15%; width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="right:30%;width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="right: 15%; width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
  <br>
  <div class="card" style="width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="right: 15%; width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="right:30%;width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>    
<br>
  <div class="card" style="width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="right: 15%; width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
<br>
  <div class="card" style="width: 8rem;">
    <div class="card-body">
      <h5 class="card-title">Jugador1</h5>
    </div>
  </div>
 </div>

</div>
    

